<!DOCTYPE html>
<html>
    <title>
        Angular JS Lab1 Program on Full Name
    </title>
    <head>
        <script type="text/javascript"
        src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.8.2\angular.min.js">
        </script>
        <script>
              var app=angular.module("myApp",[]);//create angular module
              app.controller("myAppCntrl",function($scope){ //create controller 
              $scope.firstName="Ananya"//defining 2 cntrl scope var
              $scope.lastName="Harish"
            });
        </script>
    </head>
    <body ng-app="myApp">

        <h2>Angular JS Application to Display Full Name</h2>

        <div ng-controller="myAppCntrl">
            Enter first name:<input type="text" ng-model="firstName"><br/>
            Enter last name:<input type="text" ng-model="lastName"><br/>
            Your Full name:{{firstName+" "+lastName}}
        </div>
    </body>
</html>